<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form class="loginForm" action="http://localhost:8080/api/session/login" method="POST">
        <div class="loginInput">
            <label for="Usuario"></label>
            <input required="required" type="text" id="username" placeholder="Ingresa tu usuario"/>
        </div>
        <div class="loginInput">
            <label for="Password"></label>
            <input required="required" type="password" id="password" placeholder="Ingresa tu contraseña"/>
        </div>
        <div class="loginInput">
            <input type="submit" id="button" value="Ingresar" />
            <button>
                <a href="./signUp">Registrarse</a>
            </button>
        </div>
    </form>
</body>
</html>