<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN ERROR</title>
</head>
<body>
   <h1>LOGIN ERROR</h1> 
    <div>
        <p>No se ha podido ingresar a la cuenta.</p>
        <button>
            <a href="./login">Volver al inicio de sesión</a>
        </button>
    </div>

</body>
</html>