<nav id="navBar">
    <img class="logo" src="https://julianfigueroa9.github.io/WebProyect-HTML-CSS/imagenes/logo.png">
    <ul id="linkPages">
        <li class="page"><a id="home" href='/'>Formulario</a></li>
    </ul>
</nav>