<div>
    <h3>FORM PRODUCTOS</h3>
    <form class="productForm" action="http://localhost:8080/api/productos" method="POST">
        <input class="productInputs" required="required" type="text" id="title" name="title" placeholder="Ingrese el nombre del producto">
        <input class="productInputs" type="text" name="description" id="description" placeholder="Ingrese la descripción del producto">
        <input class="productInputs" required="required" type="text" id="thumbnail" name="thumbnail" placeholder="Ingrese la ruta de la imágen">
        <input class="productInputs" required="required" type="number" id="price" name="price" placeholder="Ingrese el precio del producto">
        <input class="productInputs" required="required" type="number" id="stock" name="stock" placeholder="Ingrese el stock del producto">
        <input id="sendBtn" type="submit" value="Agregar producto">
    </form>
</div>

