<nav id="navBar">
    <img class="logo" src="https://julianfigueroa9.github.io/Valeria-Sword-Sweet-Bakery/imagenes/logo.png">
    <ul id="linkPages">
        <li class="page"><a id="home" href='/products'>Catálogo de Productos</a></li>
        <li class="page"><a href='/'>Formulario</a></li>
    </ul>
</nav>